{
  "env": {
    "testing": {
      "presets": ["env", "stage-1", "react"],
      "plugins": ["transform-object-rest-spread"]
    },
    "development": {
      "presets": [[ "env", { "modules": false } ], "stage-1", "react"],
      "plugins": ["transform-object-rest-spread"]
    },
    "production": {
      "presets": [[ "env", { "modules": false } ], "stage-1", "react"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"    
      ]
    }
  }
}