{
  "env": {
    "testing": {
      "presets": ["env"],
      "plugins": ["transform-object-rest-spread"]
    },
    "development": {
      "presets": [[ "env", { "modules": false } ]],
      "plugins": ["transform-object-rest-spread"]
    },
    "production": {
      "presets": [[ "env", { "modules": false } ]],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}